.main_body {
  width: 100%;
}
.main_body .header {
  width: 100%;
  height: 2.21875rem;
}
.main_body .middle {
  position: relative;
  width: 100%;
  display: flex;
}
.main_body .middle .yuan {
  position: absolute;
  top: -1.5625rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background-color: #d3bc9d;
}
.main_body .middle .left {
  flex: 1;
}
.main_body .middle .left .item {
  height: 2.96875rem;
  line-height: 2.96875rem;
  background-color: #fada5f;
  text-align: center;
  font-size: 24px;
}
.main_body .middle .left .newitem {
  height: 1rem;
  line-height: 1rem;
  background-color: #fae89e;
  font-size: 20px;
  text-align: center;
}
.main_body .middle .right {
  flex: 1;
}
.main_body .middle .right .item {
  height: 2.96875rem;
  line-height: 2.96875rem;
  text-align: center;
  font-size: 24px;
  background-color: #8def9c;
}
.main_body .middle .right .olditem {
  height: 1rem;
  line-height: 1rem;
  background-color: #baf4c1;
  font-size: 20px;
  text-align: center;
}
