* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.clearfix::after {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.w {
    width: 1002px;
    margin: 0 auto;
}