/* 样式初始化文件 */
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?i0lieq');
    src: url('fonts/icomoon.eot?i0lieq#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?i0lieq') format('truetype'),
        url('fonts/icomoon.woff?i0lieq') format('woff'),
        url('fonts/icomoon.svg?i0lieq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* body默认有8px外边距 */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
    font: 14px "Microsoft YaHei";
}

a {
    text-decoration: none;
    color: #999;
}

img,
input {
    vertical-align: middle;
    border: 0 none;
    /* 去掉轮廓线 */
    outline: none;
    /* input默认有1px的的内边距 */
    padding: 0;
}

i,
em {
    font-style: normal;
}

/* 清除浮动 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    /* 兼容IE */
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.stylered {
    color: red;
}