* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #c81623
}


body {
    background-color: #f2f2f2;
    font: 14px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #5b6266
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

.w {
    width: 1194px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}