* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    vertical-align: middle;
    border: 0;
}
input ,textarea{
    border: 0 none;
    outline: 0;
}
em,i {
    font-style: normal;
}
.w {
    width: 1200px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.clearfix {
    *zoom:1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
