.w {
  width: 1248px;
  margin: 0 auto;
}
.main_body {
  display: flex;
  height: 100%;
  padding-top: 30px;
  background: url(../upload/bgi.png) no-repeat center;
  background-size: cover;
}
.main_body .container_ {
  height: 100%;
  background-color: #0f0f0f;
}
.main_body .container_ .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 168px;
  padding: 0 95px;
  box-sizing: border-box;
}
.main_body .container_ .header .logo {
  flex: 3;
  padding-top: 36px;
}
.main_body .container_ .header .logo h1 {
  margin: 10px 0;
}
.main_body .container_ .header .logo a {
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}
.main_body .container_ .header .logo p {
  color: #c8c8c8;
  margin: 0;
}
.main_body .container_ .header .search {
  flex: 1;
  padding-top: 60px;
  text-align: right;
}
.main_body .container_ .header .search input {
  width: 110px;
  height: 30px;
  outline: none;
  background-color: #ccc;
  padding-left: 30px;
}
.main_body .container_ .banner {
  width: 100%;
}
.main_body .container_ .banner a {
  display: block;
  width: 100%;
  height: 362px;
  background: url(../upload/banner.jpg) no-repeat center;
  background-size: cover;
}
.main_body .container_ .nav {
  width: 100%;
}
.main_body .container_ .nav ul {
  display: flex;
  padding: 0 95px;
  width: 100%;
  background-color: #2e2e2e;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.main_body .container_ .nav ul li {
  padding: 0 15px;
}
.main_body .container_ .nav ul li a {
  display: block;
  height: 44px;
  line-height: 44px;
  color: #c8c8c8;
}
.main_body .container_ .nav ul li:hover {
  cursor: pointer;
  background-color: #e1e1e1;
}
.main_body .container_ .nav ul li:hover a {
  color: #2e2e2e;
}
.main_body .container_ .content {
  display: flex;
  width: 100%;
  padding: 0 95px;
  box-sizing: border-box;
}
.main_body .container_ .content .left {
  flex: 2;
}
.main_body .container_ .content .left .title {
  width: 100%;
  height: 78px;
  line-height: 78px;
}
.main_body .container_ .content .left .title span {
  color: #666666;
}
.main_body .container_ .content .left .swiper-container {
  width: 730px;
  height: 306px;
  position: relative;
}
.main_body .container_ .content .left .swiper-container .mask {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  line-height: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: #fff;
}
.main_body .container_ .content .left .swiper-slide {
  background-position: center;
  background-size: cover;
}
.main_body .container_ .content .left .publish {
  color: #666666;
}
.main_body .container_ .content .left .publish a {
  color: #1273d1;
}
.main_body .container_ .content .left .xixian {
  margin: 26px 0;
  width: 100%;
  height: 1px;
  background-color: #666;
}
.main_body .container_ .content .left .item h2 {
  margin-bottom: 5px;
  font-size: 26px;
  color: #fff;
}
.main_body .container_ .content .left .item p {
  margin-bottom: 30px;
  color: #666666;
}
.main_body .container_ .content .left .item p a {
  color: #1273d1;
}
.main_body .container_ .content .left .item .img {
  width: 100%;
  height: 516px;
  padding: 4px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
}
.main_body .container_ .content .left .item .img img {
  width: 100%;
  height: 100%;
}
.main_body .container_ .content .left .item p {
  margin: 30px 0;
}
.main_body .container_ .content .right {
  width: 100%;
  height: 300px;
  padding-left: 92px;
  flex: 1;
}
.main_body .container_ .content .right .swiper-container {
  width: 100%;
  height: 306px;
  position: relative;
}
.main_body .container_ .content .right .swiper-container .swiper-wrapper {
  width: 236px;
}
.main_body .container_ .content .right .swiper-container .mask {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  line-height: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: #fff;
}
.main_body .container_ .content .right .swiper-slide {
  background-position: center;
  background-size: cover;
}
.main_body .container_ .content .right .title {
  width: 100%;
  height: 78px;
  padding-top: 40px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.main_body .container_ .content .right .title p {
  color: #666666;
}
.main_body .container_ .content .right p {
  margin-bottom: 36px;
  color: #666666;
}
.main_body .container_ .content .right ul {
  margin-bottom: 30px;
}
.main_body .container_ .content .right ul li:first-child {
  margin-bottom: 10px;
}
.main_body .container_ .content .right ul li {
  color: #fff;
  display: flex;
  margin: 5px 0;
}
.main_body .container_ .content .right ul li a {
  display: block;
  flex: 4;
}
.main_body .container_ .content .right ul li a span {
  cursor: default;
}
.main_body .container_ .content .right ul li a:hover {
  text-decoration: underline;
}
.main_body .container_ .content .right ul li img {
  width: 36px;
  height: 36px;
}
.main_body .container_ .content .right ul li:last-child {
  width: 100%;
}
.main_body .container_ .content .right ul li:last-child a {
  text-align: right;
}
.main_body .container_ .content .right a {
  display: block;
  height: 30px;
}
.main_body .container_ .link {
  height: 60px;
  padding: 0 95px;
}
.main_body .container_ .link .lk {
  width: 100%;
  text-align: center;
}
.main_body .container_ .link .lk a {
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid #ccc;
}
.main_body .container_ .footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #000;
  text-align: center;
}
.main_body .container_ .footer p {
  height: 100px;
  line-height: 100px;
  color: #666;
}
